body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg,#141e30,#243b55);
  color: white;
  text-align: center;
}

input, button {
  padding: 12px;
  margin: 10px;
  width: 80%;
  border-radius: 8px;
  border: none;
}

button {
  background: #25d366;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.card {
  background: rgba(255,255,255,0.1);
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  transition: transform .3s;
}

.card:hover {
  transform: scale(1.05);
}
